.navBar-mobile{
    position:fixed;
    background-color: rgb(63, 56, 56);
    top:0;
    width: 100%;
    height: 100%;
    z-index:1000;

    &.hidden{

        display:none;
    }
}

.logoContainer-mobile{
    display:flex;
    align-items: center;
    justify-content: center;

    .logo-mobile{
        width: 100%;
        margin-left: 20px;
    }

}

.navContainer-mobile{
    display: flex;
    flex-direction: column;
    align-items: center;


    li{
        list-style-type: none;

    }

}

a.nav-links {
    &.mobile{
        font-size: 4rem;
    }
}

.gr-close-container{
    position: absolute;
    z-index: 1111;
    top: 0;
    right: 0;
    margin: 10px;
    color: white;

    .gr-close{
        font-size: 40px;
    }
}