@import '../../../../styles/variables/variables';

.available-soon-container{
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 750px;
    background-color: white;

    .available-soon-item{
        width: 120%;
        height: 400px;
        margin: 20px;
        background-color:rgba(243, 243, 243, 0.568);
        transform: rotate(-1deg);
        border-width: 10px 3px 3px 5px;
        border-radius: 95% 4% 97% 5%/4% 40% 12% 60%;
        border-bottom: 1px solid #96CEB4;
        border-top: 1px solid black;
    }
}

.available-soon-label-container{
    height: 50px;
    display: flex;
    align-items: center;


    span{
        font-size:50px;
        font-family: $bhutuka;
        font-weight: bold;

        &::before{

            content:"<";
            color: white;
            border-bottom: 5px solid #96CEB4;
            border-left: 5px solid #D9534F;
        }

        &::after{

            content:">";
            color: white;
            border-right: 5px solid #FFAD60;
            border-top: 5px solid #FFEEAD;
        }
    }

}