.mountains{
    height: 1000px;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../../../../assets/images/mountains.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;

}