@import "../../../../styles/variables/variables";

.navBar {
    background: $black;
    height: 75px;
    align-items: flex-end;
    font-size: 1.2rem;
    display:flex;
    justify-content: flex-start;
    gap: 20px;

}

.logoContainer{
   height:100%;
   overflow:hidden;
   float:left;
}

.logo {
    margin-left: 0.5rem;
    font-size: 1.6rem;
    width: auto;
    height: 120px;
}

ul{
    display:flex;
    flex-direction: row;
    gap: 20px;

    li{
        margin-bottom: 10px;
    }
}

a.nav-links {
    text-decoration: none;
    color: rgb(236, 227, 227);
    font-family: sans-serif;
    &.active {
        text-decoration: underline;
        text-decoration-color: gold;
    }
 
}



