@import "../../../styles/variables/_variables.scss";

.navBar {
    background: $black;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}


.logoContainer{
   height:100%;
   overflow:hidden;

  
}

.navItem{
    color: white;
}


.logo {
    margin-left: 0.5rem;
    font-size: 1.6rem;
    width: auto; // to maintain aspect ratio. You can use 100% if you don't care about that
    height: 120px;
}

.active{
    color: blue;
}
