
@mixin scrollbars($size, $thumb-color, $track-color: mix($foreground-color, white, 50%)) {
    ::-webkit-scrollbar {
        width:  $size;
        height: $size;
    }
  
    ::-webkit-scrollbar-thumb {
        background: $thumb-color;
    }
  
    ::-webkit-scrollbar-track {
        background: $track-color;
    }

  }
;
@include scrollbars(.4em, lightgray, gray);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}